<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="home"><img src="./../../../../assets/images/005-groove-music.png" width="45px" height="45px"> SiG Music </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['home']" routerLinkActive="active"><img src="./../../../../assets/images/045-windows.png" width="37px" height="37px"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/search']" routerLinkActive="active"><img src="./../../../../assets/images/015-newsfeed.png" width="37px" height="37px"> Buscar por Artista </a>
            </li>
        </ul>
    </div>
</nav>